<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee Information</title>
    <link rel="stylesheet" href="../static/certificate.css">
</head>

<body>

    <div class="background">
        <div class="container">
            <div class="screen">
                <div class="screen-body">
                    <div class="screen-body-item">
                        <div class="app-title">
                            <span>Update Employee details:</span>
                        </div>
                        <div class="app-form">
                            <form method="post" id="certificateform" action="/update-employee/<%= employee._id %>">
                                <div class="app-form-group">
                                    <input class="app-form-control" placeholder="Name" type="text" id="name" name="name"
                                        required value="<%= employee.name %>">
                                </div>
                                <div class="app-form-group">
                                    <input class="app-form-control" placeholder="Domain" type="text" id="jobRole"
                                        name="role" required value="<%= employee.role %>">
                                </div>
                                <div class="app-form-group">
                                    <input class="app-form-control" placeholder="EMAIL" type="email" id="email"
                                        name="email" required value="<%= employee.email %>">
                                </div>
                                <div class="app-form-group message">
                                    <a>Enter Joining Date: </a>
                                    <input class="app-form-control" placeholder="Joining Date" type="date"
                                        id="joiningDate" name="from" required value="<%= employee.from %>">
                                </div>
                                <div class="app-form-group message">
                                    <a>Enter Ending Date: </a>
                                    <input class="app-form-control" placeholder="Ending Date" type="date"
                                        id="endingDate" name="to" required value="<%= employee.from %>">
                                </div>

                                <div class="app-form-group">
                                    <input class="app-form-control" placeholder="ReferenceNo" type="text"
                                        id="referenceno" name="referenceno" required
                                        value="<%= employee.referenceno %>">
                                </div>
                                <div class="app-form-group buttons">
                                    <button class="app-form-button" id="cancelButton">CANCEL</button>
                                    <button class="app-form-button" id="deletebutton" onclick="deletefunction()">DELETE</button>
                                    <button class="app-form-button" type="submit">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/Update.js"></script>
    <script>function deletefunction(){
        console.log("data deleted")
        window.location.href = '/delete/<%=employee._id%>';
    }</script>
</body>

</html>